@import 'normalize.css';

:root {
	--elem-radius: 0.25rem;
}

html {
	font-family: Arial, sans-serif;
	box-sizing: border-box;
	background: black;
	color: white;
}

html,
body {
	height: 100%;
}

body {
	position: relative;
}

*,
::before,
::after {
	box-sizing: inherit;
}
